
.pagination-main{
    text-align: center;
    margin: 10px 30px 60px;
    user-select: none;
}

.pagination-main li{
    display: inline-block;
    margin: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination-main li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 35px;
}

.previous-page, .next-page{
    background: #004bec;
    width: 60px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover{
    transform: translateX(-5px);
}

.next-page:hover{
    transform: translateX(5px);
}

.current-page, .dots{
    background: #ccc;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.active-page{
    background: #004bec;
}

.disable{
    background: #ccc;
}
